<!DOCTYPE html>
<html>
<head>
<title>Sivasankaran Kannan - BITS MBA FinTech Project</title>
</head>
<body>
<h1 style="text-align:center;">Micro-Services Home for BITS Project</h1>
<h2 style="text-align:center;">Project: Comparative Forecasting of Crypto &amp; Equity Assets for Better Investment Decisions</h2>
<p style="text-align:center;">&nbsp;</p>
<figure class="table">
    <table>
        <tbody>
            <tr>
                <td style="background-color:hsl(0, 0%, 90%);"><strong>Student ID &nbsp; &nbsp;</strong></td>
                <td>2023MB53020</td>
            </tr>
            <tr>
                <td style="background-color:hsl(0, 0%, 90%);"><strong>Student Name</strong></td>
                <td>Sivasankaran Kannan</td>
            </tr>
            <tr>
                <td style="background-color:hsl(0, 0%, 90%);"><strong>Course</strong></td>
                <td>MBA FinTech 2023-25</td>
            </tr>
        </tbody>
    </table>
</figure>
<p>&nbsp;</p>
</body>
</html>
